* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
}
.open-btn {
  border-radius: 50%;
  border: none;
  background-color: white;
  outline: 0;
  text-align: center;
  width: 100%;
  color: #00A480;
}
.open-btn:hover {
  color: #1F7C65;
}
.open-btn i {
  font-size: 40px;
}
.wrapper {
  max-width: 1000px;
  margin: auto;
}
/* Personal information */
.avatar {
  grid-area: avatar;
  width: 100%;
  border-radius: 20px;
}
.job i {
  color: #00A480;
  font-size: 20px;
  padding-right: 10px;
}
.inf {
  grid-area: inf;
}
.personal-inf {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(80px,200px) auto;
  grid-template-areas: 
  "avatar inf";
  padding: 20px;
  border: 3px solid #00A480;
  border-radius: 20px;
  margin: 20px 10px;
}

/* Planer */

.planer-heading i {
  color: #00A480;
  padding: 5px 10px;
  margin-right: 10px; 
}
.planer {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;
}
.day {
  font-size: 24px;
  text-align: center;
  border: 1px solid #00A480;
  background: #00A480;
  border-radius: 20px;
}
.day h2 {
  margin: 0;
}
.empty, 
.day-duty,
.night-duty,
.day-off {
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 10px 10px 5px;
  text-align: center;
}
.empty {
  border: 2px solid #ccc;
}
.empty p {
  margin: 2px;
}
.day-duty {
  border: 2px solid #FFB540;
}
.night-duty {
  border: 2px solid #015367;
}
.day-off {
  border: 2px solid #00A480;
}
.day-off i {
  color: #00A480;
}
.day-duty i {
  color: #FFB540;
}
.night-duty i {
  color: #015367;
}
.night-duty p,
.night-duty i,
.day-duty p,
.day-duty i,
.day-off i,
.day-off p {
  display: inline;
}
.duty .fa-grin-beam,
.duty .fa-moon,
.duty .fa-sun {
  float: left;
  font-size: 22px;
}
.duty .fa-times {
  float: right;
}

/* Modal Window */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #00A480;
  color: white;
}
.close-button:hover {
  background-color: #1F7C65;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal-heading {
  text-align: center;
}


/* Radio Buttons */
input[type=radio]#day:checked + label.container {
  color: #FFB540;
}

input[type=radio]#night:checked + label.container {
  color: #015367;
}

input[type=radio]#day-off:checked + label.container {
  color: #00A480;
}
input[type='radio'] {
  display: none;
}

/* Modal Styles */
.modal-radio-wrp {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, auto);
}
.container {
  text-align: center;
}
.container i {
  font-size: 30px;
  justify-items: center;
}
.sabmit-btn {
  text-align: center;
  display: block;
  font-size: 30px;
  margin: 20px;
  color: #00A480;
}
.sabmit-btn i:hover  {
  color: #1F7C65;
}
.select-start,
.select-finish {
  padding: 20px;
  margin: auto;
  width: fit-content;
}
.select-start label,
.select-finish label {
  padding-right: 20px;
}

@media screen and (max-width: 500px) {
 .modal-content  {
   top: 0;
   left: 0;
   border-radius: 0;
   width: 100%;
   height: 100%;
   transform: none;
   padding: 20% 1.5rem;
 }
 .planer-heading {
   font-size: 25px;
 }
 .personal-inf {
   grid-template-columns: 100%;
   grid-template-areas: 
    "avatar"
    "inf";
    text-align: center;
 }
 .avatar {
   max-width: 200px;
   margin: auto;
 }
}